<h2 style="text-align:center; color:white;">About Us</h2></br>
<p style="color:white; font-size:22px">We started selling fresh ass cream out of our own garage--the back door, specifically--in November of 1988. Our unique flavor pairings, such as tuna steak and huckleberry syrup, attracted a large following then, and still do today. Our most famous customer invented the Weasel Ball and engraved our name on it. Thanks for your time, boysen squirrels!</p>
<i style="text-align:center; color:white; font-size:23px">Now get yourself over the the Community and start commingling!</i>