@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

.alert {
  color: #4c0099;
  background-color: #00cccc;
  font-size: 22px;
}

body {
    background: -webkit-linear-gradient(90deg, #360033 10%, #0b8793 90%); 
    background:    -moz-linear-gradient(90deg, #360033 10%, #0b8793 90%);
    background:     -ms-linear-gradient(90deg, #360033 10%, #0b8793 90%);
    background:      -o-linear-gradient(90deg, #360033 10%, #0b8793 90%);
    background:         linear-gradient(90deg, #360033 10%, #0b8793 90%);
}

.btn-custom {
  background-color: hsl(273, 73%, 19%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9941e1", endColorstr="#330d53");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#9941e1), to(#330d53));
  background-image: -moz-linear-gradient(top, #9941e1, #330d53);
  background-image: -ms-linear-gradient(top, #9941e1, #330d53);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9941e1), color-stop(100%, #330d53));
  background-image: -webkit-linear-gradient(top, #9941e1, #330d53);
  background-image: -o-linear-gradient(top, #9941e1, #330d53);
  background-image: linear-gradient(#9941e1, #330d53);
  border-color: #330d53 #330d53 hsl(273, 73%, 9.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p, body {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3, h4 {
  font-size: 22px;
}

.navbar {
  font-size: 20px;
}

.row {
  font-size: 22px;
}