@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
    background: -webkit-linear-gradient(90deg, #061161 10%, #061161 90%); 
    background:    -moz-linear-gradient(90deg, #061161 10%, #780206 90%);
    background:     -ms-linear-gradient(90deg, #061161 10%, #780206 90%);
    background:      -o-linear-gradient(90deg, #061161 10%, #780206 90%);
    background:         linear-gradient(90deg, #061161 10%, #780206 90%);
}

body {
    background: -webkit-linear-gradient(90deg, #780206 20%, #061161 80%); 
    background:    -moz-linear-gradient(90deg, #780206 20%, #061161 80%);
    background:     -ms-linear-gradient(90deg, #780206 20%, #061161 80%);
    background:      -o-linear-gradient(90deg, #780206 20%, #061161 80%);
    background:         linear-gradient(90deg, #780206 20%, #061161 80%);
}
